.userDetail {
  display: flex;
  border: 1px solid rgb(215, 221, 219);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 32px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
